* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.BoxHead {
    background-color: #40069e;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0em 0.5em 2em #40069e; 
}

.title {
    font-size: 2em;
    margin: 2em;
    position: relative;
}

.jupiterPng {
    width: 15em;
    position: absolute;
    top: 2.8em;  
}

.boxSection, .boxBigRedSpot, .boxJupiterMoons, .boxConclusion {
    padding: 2em 0 2em 1em;
}

.boxCharacteristics, .boxRingSystem, .boxSpaceExploration {
    padding: 2em 0 2em 1em;
    background-color: #40069e;
    box-shadow: 0em 1em 2em #40069e83; 
}

.introduction, .characteristics, .titleRingSystem, .titleSpaceExploration, .titleBigRedSpot, .titleJupiterMoons, .titleConclusion {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    transition: 1s;
}

.imgJupiter, .imgJupiterMoons {
    margin-top: 1em;
}